body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}
:root {
  --navyblue: #2e2f42;
  --slate: #434455;
  --cloud: #f4f4fd;
  --iris: #4d5ae5;
  --cornflower: #e7e9fc;
  --ocean: #404bbf;
  --white: #fff;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: #404bbf;
}

/* HEADER */

.navigation > a {
  color: var(--iris);
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

.navigation > ul a {
  color: var(--navyblue);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

.weblogo {
  color: var(--iris);
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

.studioselector {
  color: var(--navyblue, #2e2f42);
}

.list {
  list-style: none;
}

.addressref {
  font-style: normal;
}

.addressref .list {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.menu {
  color: var(--navyblue);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  cursor: pointer;
}

.addressref > li a {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/* Section 1 */
.sectionbckg {
  background-color: var(--navyblue);
}

.header {
  font-family: "Roboto";
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  text-align: center;
  color: #ffffff;
}

.button {
  color: var(--white);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  background-color: #4d5ae5;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--ocean);
}

/* Section 2 */
.benefits-head {
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: var(--navyblue);
}

/* Section 3  */

.header-two {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

/* Section 4 */
.section-team {
  background-color: #f4f4fd;
}

.caption {
  color: var(--navyblue);
  text-align: center;
  font-family: "Roboto";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.text {
  color: var(--slate, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* footer */
.page-footer {
  background-color: var(--navyblue);
}

.footer-text {
  color: var(--cloud);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team-card-background {
  background-color: #ffffff;
}

.footer-selector {
  color: #f4f4fd;
}

/* Portfolio Tab
   Dedicated Styles */

/* Main */
.button-order {
  color: var(--iris);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  background-color: #f4f4fd;
  cursor: pointer;
}

.button-order:hover,
.button-order:focus {
  background-color: #404bbf;
  color: #ffffff;
}

/* misc */

.adress-list {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  color: #434455;
}
